In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_json('data.json')

In [3]:
print(df)

                                                 data
0   {'id': 1, 'name': 'Netflix', 'price': {'monthl...
1   {'id': 2, 'name': 'Disney+ (Hotstar)', 'price'...
2   {'id': 3, 'name': 'Mubi', 'price': {'monthly':...
3   {'id': 4, 'name': 'HBO Go', 'price': {'monthly...
4   {'id': 5, 'name': 'Apple TV', 'price': {'month...
5   {'id': 6, 'name': 'Amazon Prime', 'price': {'m...
6   {'id': 7, 'name': 'Bilibili', 'price': {'month...
7   {'id': 8, 'name': 'Viu', 'price': {'monthly': ...
8   {'id': 9, 'name': 'iQiyi', 'price': {'monthly'...
9   {'id': 10, 'name': 'WeTV', 'price': {'monthly'...
10  {'id': 11, 'name': 'Monomax', 'price': {'month...

In [4]:
print(df.to_string())

                                                                                                                                                                                             data
0                                                                       {'id': 1, 'name': 'Netflix', 'price': {'monthly': {'mobile': 99.0, 'basic': 169.0, 'standard': 349.0, 'premium': 419.0}}}
1                                                {'id': 2, 'name': 'Disney+ (Hotstar)', 'price': {'monthly': {'mobile': 99.0, 'premium': 289.0}, 'yearly': {'mobile': 799.0, 'premium': 2290.0}}}
2                                                                                            {'id': 3, 'name': 'Mubi', 'price': {'monthly': {'standard': 279.0}, 'yearly': {'standard': 2149.0}}}
3                                                        {'id': 4, 'name': 'HBO Go', 'price': {'monthly': {'standard': 199.0}, 'yearly': {'standard': 1071.0}, 'quarterly': {'standard': 244.3}}}
4                                                                                                                        {'id': 5, 'name': 'Apple TV', 'price': {'monthly': {'standard': 199.0}}}
5                                                                                                                    {'id': 6, 'name': 'Amazon Prime', 'price': {'monthly': {'standard': 149.0}}}
6                                                        {'id': 7, 'name': 'Bilibili', 'price': {'monthly': {'standard': 69.0}, 'yearly': {'standard': 499.0}, 'quarterly': {'standard': 207.0}}}
7                                                           {'id': 8, 'name': 'Viu', 'price': {'monthly': {'standard': 149.0}, 'yearly': {'standard': 1490.0}, 'quarterly': {'standard': 395.0}}}
8                                                                                           {'id': 9, 'name': 'iQiyi', 'price': {'monthly': {'standard': 119.0}, 'yearly': {'standard': 1200.0}}}
9   {'id': 10, 'name': 'WeTV', 'price': {'monthly': {'standard': 129.0, 'premium': 219.0}, 'yearly': {'standard': 1200.0, 'premium': 949.0}, 'quarterly': {'standard': 339.0, 'premium': 429.0}}}
10                                                                                       {'id': 11, 'name': 'Monomax', 'price': {'monthly': {'standard': 250.0}, 'yearly': {'standard': 1699.0}}}

In [5]:
print(df.data)

0     {'id': 1, 'name': 'Netflix', 'price': {'monthl...
1     {'id': 2, 'name': 'Disney+ (Hotstar)', 'price'...
2     {'id': 3, 'name': 'Mubi', 'price': {'monthly':...
3     {'id': 4, 'name': 'HBO Go', 'price': {'monthly...
4     {'id': 5, 'name': 'Apple TV', 'price': {'month...
5     {'id': 6, 'name': 'Amazon Prime', 'price': {'m...
6     {'id': 7, 'name': 'Bilibili', 'price': {'month...
7     {'id': 8, 'name': 'Viu', 'price': {'monthly': ...
8     {'id': 9, 'name': 'iQiyi', 'price': {'monthly'...
9     {'id': 10, 'name': 'WeTV', 'price': {'monthly'...
10    {'id': 11, 'name': 'Monomax', 'price': {'month...
Name: data, dtype: object

In [6]:
data = df.data

In [7]:
print(data)

0     {'id': 1, 'name': 'Netflix', 'price': {'monthl...
1     {'id': 2, 'name': 'Disney+ (Hotstar)', 'price'...
2     {'id': 3, 'name': 'Mubi', 'price': {'monthly':...
3     {'id': 4, 'name': 'HBO Go', 'price': {'monthly...
4     {'id': 5, 'name': 'Apple TV', 'price': {'month...
5     {'id': 6, 'name': 'Amazon Prime', 'price': {'m...
6     {'id': 7, 'name': 'Bilibili', 'price': {'month...
7     {'id': 8, 'name': 'Viu', 'price': {'monthly': ...
8     {'id': 9, 'name': 'iQiyi', 'price': {'monthly'...
9     {'id': 10, 'name': 'WeTV', 'price': {'monthly'...
10    {'id': 11, 'name': 'Monomax', 'price': {'month...
Name: data, dtype: object

In [8]:
print(data.to_string())

0     {'id': 1, 'name': 'Netflix', 'price': {'monthl...
1     {'id': 2, 'name': 'Disney+ (Hotstar)', 'price'...
2     {'id': 3, 'name': 'Mubi', 'price': {'monthly':...
3     {'id': 4, 'name': 'HBO Go', 'price': {'monthly...
4     {'id': 5, 'name': 'Apple TV', 'price': {'month...
5     {'id': 6, 'name': 'Amazon Prime', 'price': {'m...
6     {'id': 7, 'name': 'Bilibili', 'price': {'month...
7     {'id': 8, 'name': 'Viu', 'price': {'monthly': ...
8     {'id': 9, 'name': 'iQiyi', 'price': {'monthly'...
9     {'id': 10, 'name': 'WeTV', 'price': {'monthly'...
10    {'id': 11, 'name': 'Monomax', 'price': {'month...

In [9]:
print(data)

0     {'id': 1, 'name': 'Netflix', 'price': {'monthl...
1     {'id': 2, 'name': 'Disney+ (Hotstar)', 'price'...
2     {'id': 3, 'name': 'Mubi', 'price': {'monthly':...
3     {'id': 4, 'name': 'HBO Go', 'price': {'monthly...
4     {'id': 5, 'name': 'Apple TV', 'price': {'month...
5     {'id': 6, 'name': 'Amazon Prime', 'price': {'m...
6     {'id': 7, 'name': 'Bilibili', 'price': {'month...
7     {'id': 8, 'name': 'Viu', 'price': {'monthly': ...
8     {'id': 9, 'name': 'iQiyi', 'price': {'monthly'...
9     {'id': 10, 'name': 'WeTV', 'price': {'monthly'...
10    {'id': 11, 'name': 'Monomax', 'price': {'month...
Name: data, dtype: object

In [10]:
data

0     {'id': 1, 'name': 'Netflix', 'price': {'monthl...
1     {'id': 2, 'name': 'Disney+ (Hotstar)', 'price'...
2     {'id': 3, 'name': 'Mubi', 'price': {'monthly':...
3     {'id': 4, 'name': 'HBO Go', 'price': {'monthly...
4     {'id': 5, 'name': 'Apple TV', 'price': {'month...
5     {'id': 6, 'name': 'Amazon Prime', 'price': {'m...
6     {'id': 7, 'name': 'Bilibili', 'price': {'month...
7     {'id': 8, 'name': 'Viu', 'price': {'monthly': ...
8     {'id': 9, 'name': 'iQiyi', 'price': {'monthly'...
9     {'id': 10, 'name': 'WeTV', 'price': {'monthly'...
10    {'id': 11, 'name': 'Monomax', 'price': {'month...
Name: data, dtype: object

In [11]:
print(data[0])

{'id': 1, 'name': 'Netflix', 'price': {'monthly': {'mobile': 99.0, 'basic': 169.0, 'standard': 349.0, 'premium': 419.0}}}